@page
@using EasyAbp.FileManagement.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<FileManagementResource> L
@model EasyAbp.FileManagement.Web.Pages.FileManagement.Files.File.ReUploadModalModel
@{
    Layout = null;
}
<script>
    // Todo: MaxByteSizeForEachUpload
    // Todo: disabled file extensions
    $("#file").fileinput({
        showUpload: false,
        minFileSize: -1,
        maxFileSize: @Model.Configuration.MaxByteSizeForEachFile,
        maxFileCount: @Model.Configuration.MaxFileQuantityForEachUpload,
        allowedFileExtensions: @Html.Raw(Model.GetAllowedFileExtensionsJsCode()),
        previewFileType: 'any',
        theme: "fa",
        uploadAsync: false
    });
</script>
<form asp-page="ReUploadModal">
    <abp-modal>
        <abp-modal-header title="@L["ReUploadFile"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <input asp-for="UploadedFile" type="file" id="file" data-preview-file-type="text" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
